/* latin-ext */
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/hammersmithone/v17/qWcyB624q4L_C4jGQ9IK0O_dFlnruxElg4M.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/hammersmithone/v17/qWcyB624q4L_C4jGQ9IK0O_dFlnrtREl.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



* {
    font-family: 'Hammersmith One', sans-serif;
    box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #FECEAB;
  
}

/** HEADER **/
#header-nav {
  background-color: #99B898;
  border-radius: 0;
  border: 0;
}

#mysh-img {
  width: 50px;
  height: 50px;
  margin: 10px  10px 0;
}

.brand-img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-brand {
  padding-top: 25px;
}


.navbar-brand h1 { /* Website name */
 
  color: #2A363B;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: -1px -1px 5px rgba(255, 255, 255, 0.79), 1px 1px 2px rgba(0, 0, 0, 0.79);
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
    
}
#nav-list a {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 24px;
  bottom: 20px;
  color: #2A363B;

/* paper, small text */
    text-shadow: -1px -1px 5px rgba(255, 255, 255, 0.79), 1px 1px 2px rgba(0, 0, 0, 0.79);
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 0px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


#page-header {
    position: relative;
    width: 649px;
    height: 177px;
    left: 50px;
    top: 25px;

    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 175px;
    line-height: 250px;

    color: #2A363B;

    text-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79);
}

#page-subtitle {
    position: relative;
    width: 689px;
    height: 307px;
    left: 50px;
    top: 50px;

    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 156px;
    text-transform: lowercase;

    color: #E84A5F;

    text-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79);
}

/* when smaller */
@media (max-width: 766px) {
   #page-header {
    position: relative;
   
    left: 50px;
    top: 25px;

    font-family: 'Hammersmith One';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
  

    color: #2A363B;

    text-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79);
    }

    #page-subtitle {
        position: relative;

        font-family: 'Hammersmith One';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 50px;
        text-transform: lowercase;

        color: #E84A5F;

        text-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79);
    }
}

#heading-img {
  width: 400px;
  height: 400px;
  margin: 100px  10px 0;
  position: relative;
  left: 200px;
    
}

.heading-img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-4px -4px 10px rgba(255, 255, 255, 0.69));
  transform: rotate(7.69deg);
}

.heading-tape {
    position: absolute;
    height: 60px;
    top: 0%;
    left: 0%;
    transform: rotate(-22deg);
}
/*
.container2 {
    position: absolute;
    top: 920px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
*/

.container {
    position: relative;
}

.text-block {
    position: absolute;
    background-color: #99B898;
    color: #2A363B;
    padding-left: 20px;
    padding-right: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -40%);
    box-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}

#section-images {
    position: relative;
    top: 115px;
}

#section-img {
  width: 250px;
  height: 250px;
  margin: 10px  10px 0;
}

.section-img {
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-4px -4px 10px rgba(255, 255, 255, 0.69));
}

.section-tape {
    position: absolute;
    height: 60px;
    top: 0%;
    left: 0%;
    transform: rotate(-22deg);
}

#contact-title {
  position: relative;
  top: 165px;
  
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 156px;
    
  color: #2A363B;
    
  text-shadow: -4px -4px 7px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79);
  text-align: center;
}



.contact-child {
  position: relative;
    left: 20%;
    top: 125px;
    
}


.child1{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

#contact-form {
    align-items:center;
}

.inside-contact{
    width:75%;
    margin:0 auto; 
    align-items:center;
    color: #2A363B;
    text-shadow: -2px -2px 5px rgba(255, 255, 255, 0.79), 1px 1px 5px rgba(0, 0, 0, 0.79);
}


.inside-contact input, .inside-contact textarea{
    width:50%;
    background-color:#eee;
    border:0px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
    box-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}

.inside-contact textarea{
    margin-top: 10px;
}

.inside-contact input[type=submit]{
    background-color:#E84A5F;
    color:#fff;
    transition:0.2s;
    margin:30px 0;
    box-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}


.inside-contact input[type=submit]:hover{
    background-color:#fff;
    color:#2A363B;
    transition:0.2s;
    box-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}






/*PORTFOLIO PAGE*/
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #FECEAB;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #E84A5F;
  cursor: pointer;
      box-shadow: -5px -4px 6px rgba(255, 255, 255, 0.79), 2px 2px 5px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
    margin-right: 10px;
    border-radius: 0px;
}

.btn:hover {
  background-color: #99B898;
    box-shadow: -5px -4px 6px rgba(255, 255, 255, 0.79), 2px 2px 5px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}

.btn.active {
  background-color: #2A363B;
  color: white;
    box-shadow: -5px -4px 6px rgba(255, 255, 255, 0.79), 2px 2px 5px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}

.download-portfolio{
    background-color: #99B898;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
    box-shadow: -5px -4px 6px rgba(255, 255, 255, 0.79), 2px 2px 5px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}



/*RESUME PAGE*/
.download {
  background-color: #99B898;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
    left: 250px;
    box-shadow: -5px -4px 20px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79), inset 3px 2px 4px rgba(0, 0, 0, 0.69);
}


/*ABOUT PAGE*/
#about-me {
    position: relative;
    top: 50px;
}









/*CONTACT PAGE*/
#contact-title2 {
  position: relative;
  
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 156px;
    
  color: #2A363B;
    
  text-shadow: -4px -4px 7px rgba(255, 255, 255, 0.79), 2px 2px 7px rgba(0, 0, 0, 0.79);
  text-align: center;
}

.contact-child2 {
  position: relative;
    left: 20%;
}